.container {
    border-style: solid;
    border-color: blue ;
    background-color: blue;
}

h1, p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.borderedtext {
    display: inline-block;
    padding: 5px;
    border: 2px black solid;
    border-radius: 5px;
    border-left: 0px;
  
}